@using MyHotelWebsite.Web.ViewModels.Administration.Guests

@model AllGuestViewModel

<body>
    <div id="page">
        <div class="clearfix"></div>
        <partial name="_SingleGuestPartial" />
        <partial name="_PagingPartial" model="@Model" />
    </div>
</body>