@using MyHotelWebsite.Web.ViewModels.Blogs
@model AllBlogViewModel

<body>
    <h1 class="text-center">All Blogs</h1>
    <div id="page">
        <div class="text-center mb-3"></div>
        <partial name="_SingleBlogPartial" />
        <partial name="_PagingPartial" model="@Model" />
    </div>
</body>
