@using MyHotelWebsite.Web.ViewModels.Blogs
@model BlogAllViewModel

<script>
    var msg = '@this.TempData["Message"]';
    if  (msg.length){
        alert(msg);
    }
</script>


<!DOCTYPE html>
<html lang="en">
<body>
    <div id="page">
        <div class="text-center mb-3"></div>
        <partial name="_SingleBlogPartial" />
        <partial name="_PagingPartial" model="@Model" />
    </div>
</body>
</html>
