@using MyHotelWebsite.Web.ViewModels.Administration.Blogs
@model CreateBlogViewModel
@{
    this.ViewData["Title"] = "Add new blog";
   
}

<form method="post" class="col-md-6 offset-md-3"
     enctype="multipart/form-data">
    <div class="text-center mb-3">
    <h1>@this.ViewData["Title"]</h1>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="text-center mb-3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="text-center mb-3">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="text-center mb-3">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="text-center">
    <input type="submit" class="btn btn-danger" />
    </div>
</form>



