@using MyHotelWebsite.Web.ViewModels.Administration.Staff;

@model AllStaffViewModel

<body>
    <h1 class="text-center">All Employees List</h1>
    <div id="page">
        <div class="clearfix"></div>
        <partial name="_SingleStaffPartial" />
        <partial name="_PagingPartial" model="@Model" />
    </div>
</body>