<!--
Author URI: http://www.themevault.net/
License URI: http://www.themevault.net/license/-->

    <body>
        <div id="page">
            <!--end-->
        <section class="image-head-wrapper-about">
            <div class="inner-wrapper">
                    <h1>About  </h1>
                </div>
            </section>
            <div class="clearfix"></div>


            <section class="about-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 about-left">
                            <p>Experience <label>nature</label> -enjoy  <span>diversity</span></p>
                        </div>
                        <div class="col-md-7 about-right">
                            <h3>Most preffered hotel in Tyrol</h3>
                        <p>Moments that are memorable, moments that count, nature that is incredible, and joy that is indescribable – a holiday at this hotel in Tyrol is exceptional all over the year. It has developed over time out of love for nature and has become a charming holiday home in the Stubai Alps. Here you can recharge your batteries in harmony with nature. From the amenities and the culinary delights to the varied activity programme – you can experience nature in all its facets. Enjoy the amazing location all over the year on your sun terrace, as well as during long walks and hikes that start right outside the front door. </p>
                        <p>Stuff is looking forward to welcoming you to this little paradise.</p>
                        <br />
                        <h3>What makes the hotel stand out and what you will find here:</h3>
                            <ul class="list-unstyled list-inline">
                            <li>Varied activities with your musical and sociable hosts</li>
                            <li>Peaceful and spacious hotel garden with Mediterranean wellness courtyard and large natural swimming lake</li>
                            <li>Especially for guests: the herb farm with farm shop and chapel as well as nature and herb workshops</li>
                            <li>Culinary delights according to the R50 principle with fresh food from own farm and the region within a radius of 50 kilometres</li>
                            </ul>
                        <span>Book your dream holiday now!</span>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </body>
