<!--Template Name: vacayhome
File Name: contact.html
Author Name: ThemeVault
Author URI: http://www.themevault.net/
License URI: http://www.themevault.net/license/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/icons/favicon.png" />
    <title>vacayhome</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/lightbox.min.css">
    <link href="~/css/responsive.css" rel="stylesheet">
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <script src="~/js/instafeed.min.js" type="text/javascript"></script>
    <script src="~/js/custom.js" type="text/javascript"></script>
</head>
    <body>
        <div id="page">
         
            <section class="image-head-wrapper-contact">
                <div class="inner-wrapper">
                    <h1>Contact Us</h1>
                </div>
            </section>
            <div class="clearfix"></div>


            <section class="contact-block">
                <div class="container">
                    <div class="col-md-6 contact-left-block">
                        <h3><span>Contact </span>Us</h3>
                    <p class="text-left">In the heart of the beautiful Stubai Valley and far away from the hustle and bustle of everyday life and the noise of the big city. A place of peace and tranquillity surrounded by a jewel of nature that is second to none. And yet, this wonderful oasis of recuperation and rich experience is not cut off from the world but is easy and convenient to get to – whether by car, train or plane!</p>
                    <p class="text-right">Pinnisweg 3, A-6167 Neustift im Stubaital <i class="fa fa-map-marker fa-lg"></i></p>
                    <p class="text-right"><a href="tel:+43 5226 2600"> +43 5226 2600   <i class="fa fa-phone fa-lg"></i></a></p>
                    <p class="text-right">+43 5226 260022 <i class="fa fa-fax fa-lg"></i></p>
                    <p class="text-right"><a href="mailto:GalinasHotel@info.com"> GalinasHotel@info.com <i class="fa fa-envelope"></i></a></p>
                    </div>
                    <div class="col-md-6 contact-form">
                        <h3>Send a <span>Message</span></h3>
                        <form action="#" method="post">
                            <input type="text" class="form-control" name="Name" placeholder="Name" required="">
                            <input type="email" class="form-control" name="Email" placeholder="Email" required="">
                            <textarea class="form-control" name="Message" placeholder="Message Here...." required=""></textarea>
                            <input type="submit" class="submit-btn" value="Submit">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>

            <!---map--->
            <section class="offspace-70">
                <div class="map">
                    <div class="container">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1xB6sTGAcRdZoQJd5pLIxEKKgu45Cqpo&ehbc=2E312F" frameborder="0" style="border:0; width: 1200px; height: 500px" allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <!--back to top--->
            <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
                <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
                <span>Top</span>
            </a>

        </div>
    </body>
</html>

