@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Template Name: vacayhome
File Name: gallery.html
Author Name: ThemeVault
Author URI: http://www.themevault.net/
License URI: http://www.themevault.net/license/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/icons/favicon.png" />
    <title>vacayhome</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/lightbox.min.css">
    <link href="~/css/responsive.css" rel="stylesheet">
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.imagesloaded.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
    <script src="~/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <script src="~/js/instafeed.min.js" type="text/javascript"></script>
    <script src="~/js/custom.js" type="text/javascript"></script>
    <style>
        .grid {
            background: rgba(0,0,0,0);
        }
            /* clear fix */
            .grid:after {
                content: '';
                display: block;
                clear: both;
            }
        /* ---- .grid-item ---- */
        .grid-sizer,
        .grid-item {
            width: 33.34%;
        }

        .grid-item {
            float: left;
        }

            .grid-item img {
                display: block;
                max-width: 100%;
            }
    </style>
</head>
<body>
    <div id="page">
        <section class="image-head-wrapper-gallery">
            <div class="inner-wrapper">
                <h1>Gallery</h1>
            </div>

        </section>
        <div class="clearfix"></div>

        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-1.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-1-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-2.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-2-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-3.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-3-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-4.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-4-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-5.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-5-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-6.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-6-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-7.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-7-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-8.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-8-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-9.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-9-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-10.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-10-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-11.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-11-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-12.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-12-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--back to top--->
        <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
            <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
            <span>Top</span>
        </a>

    </div>
    <script>
        var grid = document.querySelector('.grid');

        var msnry = new Masonry(grid, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true
        });

        imagesLoaded(grid).on('progress', function () {
            // layout Masonry after each image loads
            msnry.layout();
        });
    </script>
</body>
</html>
