
<!--Template Name: vacayhome
File Name: gallery.html
Author Name: ThemeVault
Author URI: http://www.themevault.net/
License URI: http://www.themevault.net/license/-->

<body>
    <div id="page">
        <section class="image-head-wrapper-gallery">
            <div class="inner-wrapper">
                <h1>Gallery</h1>
            </div>

        </section>
        <div class="clearfix"></div>

        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-1.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-1-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-2.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-2-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-3.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-3-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-4.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-4-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-5.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-5-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-6.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-6-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-7.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-7-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-8.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-8-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-9.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-9-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-10.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-10-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-11.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-11-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-12.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-12-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-13.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-13-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-14.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-14-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-15.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-15-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-16.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-16-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-17.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-17-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-18.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-18-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-19.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-19-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-20.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-20-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-21.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-21-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-22.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-22-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-23.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-23-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Gallery-24.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Gallery-24-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script>
        var grid = document.querySelector('.grid');

        var msnry = new Masonry(grid, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true
        });

        imagesLoaded(grid).on('progress', function () {
            // layout Masonry after each image loads
            msnry.layout();
        });
    </script>
</body>
