@using MyHotelWebsite.Web.ViewModels.Administration.Orders;

@model HotelAdministrationAllOrderViewModel

<body>
    <div id="page">
        <div class="clearfix"></div>
        <partial name="_SingleOrderHotelManagementPartial" />
        <partial name="_PagingPartial" model="@Model" />
    </div>
</body>
