@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<div class="row d-flex justify-content-center mt-3">
    <div id="cookieConsent" class="col-md-6 text-center alert alert-danger alert-dismissible fade show" role="alert">
            Cookies help us deliver the best experience on our website. By using it, you agree to the use of cookies.
        <button type="button" class="accept-policy close btn btn-outline-danger" data-bs-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
