@using MyHotelWebsite.Common
@using Microsoft.AspNetCore.Identity
@using MyHotelWebsite.Data.Models

@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/favicon.ico" asp-append-version="true" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" type="text/css" asp-append-version="true" />
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/fonts/antonio-exotic/stylesheet.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">

    <script src="~/js/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/instafeed.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/custom.js" type="text/javascript" asp-append-version="true"></script>
</head>
<body>
    <header class="header-container">
        <div class="container">
            <div class="top-row">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <div id="logo">
                            @if (signInManager.IsSignedIn(User) && User.IsInRole(GlobalConstants.GuestRoleName))
                            {
                                <p><span>Wel </span> come, </p>
                                <p class="mt-5"><span>@User.Identity.Name</span></p>
                            }
                            else
                            {
                                <p><span>Wel </span> come </p>
                            }
                            
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                        <nav class="navbar navbar-default">
                            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                <ul class="list-unstyled nav1 cl-effect-10">
                                    <li><a data-hover="Home" asp-area="" asp-controller="Home" asp-action="Index"><span>Home</span></a></li>
                                    <li><a data-hover="About" asp-area="" asp-controller="Home" asp-action="About"><span>About</span></a></li>
                                    <li><a data-hover="Gallery" asp-area="" asp-controller="Home" asp-action="Gallery"><span>Gallery</span></a></li>
                                    <li><a data-hover="Rooms" asp-area="" asp-controller="Rooms" asp-action="Index"><span>Rooms</span></a></li>
                                    <li><a data-hover="Dining" asp-area="" asp-controller="Dishes" asp-action="Index"><span>Dining</span></a></li>
                                    <li><a data-hover="Blog" asp-area="" asp-controller="Blogs" asp-action="Index"><span>Blog</span></a></li>
                                    <li><a data-hover="Contact Us" asp-area="" asp-controller="Home" asp-action="Contacts"><span>Contact Us</span></a></li>
                                    <li><vc:get-count-of-free-rooms data-hover="Free Rooms" title="freeroomscount"/></li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole(GlobalConstants.GuestRoleName))
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12 remove-padd">
                            <nav class="navbar navbar-default">
                                <div class="justify-content-center">
                                    <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                        <ul class="list-unstyled nav1 cl-effect-10">
                                            <li><a data-hover="Book a room" class="active" asp-area="Guest" asp-controller="Reservations" asp-action="Book"><span>Book a room</span></a></li>
                                            <li><a data-hover="My Reservations" class="active" asp-area="Guest" asp-controller="Reservations" asp-action="MyReservations"><span>My Reservations</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 remove-padd">
                            <nav class="navbar navbar-default">
                                <div class="justify-content-center">
                                    <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">

                                        <ul class="list-unstyled nav1 cl-effect-10">
                                            <li><a data-hover="Order a dish" class="active" asp-area="Guest" asp-controller="Orders" asp-action="Create"><span>Order a dish</span></a></li>
                                            <li><a data-hover="My Food Orders" class="active" asp-area="Guest" asp-controller="Orders" asp-action="Mine"><span>My Food Orders</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <form method="post" asp-area="" asp-controller="User" asp-action="Logout">
                                    <div class="text-center"><button type="submit" class="book-now-btn">Logout</button></div>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                    <div class="col-md-12 contact-form text-center">
                            <h3>Want to make a reservation? <span>Please, register or just log into your account</span></h3>
                            <h3>Have in mind: <span>only registered users can <u>reserve a room</u>, <u>edit his reservations</u> and <u>order a dish</u> from our restaurant</span></h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 remove-padd">
                            <nav class="navbar navbar-default">
                                <div class="justify-content-center">
                                <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                    
                                    <ul class="list-unstyled nav1 cl-effect-10">
                                            <li><a data-hover="Register" class="active" asp-controller="User" asp-action="Register"><span>Register</span></a></li>
                                            <li><a data-hover="Log in" class="active" asp-controller="User" asp-action="Login"><span>Log in</span></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <main role="main" class="pb-3">@RenderBody()</main>
            <div style="display:none">
                <partial name="_CookieConsentPartial" />
            </div>
        </div>
    </main>

    <footer>
        @if (!User.IsInRole(GlobalConstants.GuestRoleName))
        {
        <div class="btn-toolbar justify-content-center">
                <div class="btn-group mr-1">
                    <div class="contact-form">
                    <h3><span>Administration Area</span></h3>
                    <div class="col-md-12 col-sm-12 col-xs-12 remove-padd">
                            <nav class="navbar navbar-default">
                                <div class="justify-content-center">
                                <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                    <ul class="list-unstyled nav1 cl-effect-10">
                                            <li><a data-hover="Log in" class="active" asp-controller="User" asp-action="Login"><span>Log in</span></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                </div>
            </div>
        </div>
        }
            
            <div class="copyright">
                <br />
                <!--Do not remove Backlink from footer of the template. To remove it you can purchase the Backlink !-->
                &copy; 2017 All right reserved. Designed by <a href="http://www.themevault.net/" target="_blank">ThemeVault.</a>
            </div>
    </footer>

    <!--back to top--->
    <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
        <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
        <span>Top</span>
    </a>
    @await this.RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</body>
</html>
