@using MyHotelWebsite.Web.ViewModels.Dishes
@model DishAllViewModel

<body>
    <div id="page">
        <section class="image-head-wrapper-dining-all">
            <div class="inner-wrapper">
                <h1>All Dishes</h1>
            </div>
        </section>
            @{ await Html.RenderPartialAsync("_SearchDishesPartial", new SingleDishViewModel()); }
        <div class="row">
        <partial name="_SingleDishPartial" />
        </div>
        <partial name="_PagingPartial" />
    </div>
</body>
