<!--Template Name: vacayhome
File Name: news.html
Author Name: ThemeVault
Author URI: http://www.themevault.net/
License URI: http://www.themevault.net/license/-->

<body>
    <div id="page">
       
        <section class="image-head-wrapper-dining">
            <div class="inner-wrapper">
                <h1>Dining</h1>
            </div>
        </section>
        <div class="clearfix"></div>

        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 remove-padd-right">
                        <div class="side-A">
                            <div class="product-thumb">
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/Dining-drinks.png">
                                </div>
                            </div>
                        </div>
                        <div class="side-B">
                            <div class="product-desc-side">
                                <h3>Drinks</h3>
                                <p>Feel fresh and well every day: a selection of soft drinks and teas, as well as South Tyrolean apples in the hotel's Balance SPA. Also alcohol for those who prefer it. Each guest is welcomed with drink upon arrival.</p>
                            </div>
                        </div>
                    </div>  

                    <div class="col-lg-6 col-md-6 col-sm-6col-xs-12 remove-padd-left">
                        <div class="side-A">
                            <div class="product-thumb">
                                <div class="image">
                                    <img src="~/images/Dining-gourmets.png" class="img-responsive" alt="image">
                                </div>
                            </div>
                        </div>
                        <div class="side-B">
                            <div class="product-desc-side">
                                <h3>Gourmet</h3>
                                <p>Sumptuous gourmet breakfast buffet: making sure every day gets off to the perfect start and daily gourmet cheese buffet with fruity chutneys and fresh fruit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 remove-padd-right">
                        <div class="side-A">
                            <div class="product-desc-side">
                                <h3>Appetizers</h3>
                                <p>
                                    Tasting sessions with homemade delicacies and specialties - from South Tyrol, Italy and typical Stubai specialities.
                                </p>
                            </div>
                        </div>

                        <div class="side-B">
                            <div class="product-thumb">
                                <div class="image txt-rgt">
                                    <img alt="imaga" class="img-responsive" src="~/images/Dining-appetizers.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6col-xs-12 remove-padd-left">
                        <div class="side-A">
                            <div class="product-desc-side">
                                <h3>Salads</h3>
                                <p>Fresh salad buffet with dressings and salad accompaniments of our guests' choice.</p>
                            </div>
                        </div>

                        <div class="side-B">
                            <div class="product-thumb txt-rgt">
                                <div class="image">
                                   <img alt="imaga" class="img-responsive" src="~/images/Dining-salads.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 remove-padd-right">
                        <div class="side-A">
                            <div class="product-thumb">
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="~/images/Dining-maincourses.png">
                                </div>
                            </div>
                        </div>
                        <div class="side-B">
                            <div class="product-desc-side">
                                <h3>Main courses</h3>
                                <p>Evening five-course menu – light, carefully chosen ingredients and consciously prepared food, serviced in the stylish ambience of candlelight and with wine specialist advice.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6col-xs-12 remove-padd-left">
                        <div class="side-A">
                            <div class="product-thumb">
                                <div class="image">
                                    <img src="~/images/Dining-desserts.png" class="img-responsive" alt="image">
                                </div>
                            </div>
                        </div>
                        <div class="side-B">
                            <div class="product-desc-side">
                                <h3>Desserts</h3>
                                <p>Sweet tooth buffet with homemade desserts - tasty, healthy and unique.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />

        <section>
            <div class="container justify-content-center">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <form method="post" asp-controller="Dishes" asp-action="All">
                        <div class="text-center"><button type="submit" class="book-now-btn">See all and make an order</button></div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>