@using MyHotelWebsite.Web.ViewModels.Administration.Reservations

@model HotelAdministrationAllReservationViewModel

<body>
    <div id="page">
        <div class="clearfix"></div>
        <partial name="_SingleReservationHotelManagementPartial"/>
        <partial name="_PagingPartial" model="@Model" />
    </div>
</body>
