@using MyHotelWebsite.Web.ViewModels.Dishes

@model AllDishViewModel

<body>
    <h1 class="text-center">All Dishes</h1>
    <div id="page">
        <div class="clearfix"></div>
        <div class="row">
        <partial name="_SingleDishPartial" />
        <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</body>
