<div class="row">
    <div class="card" style="width: 18rem; margin:20px">
        <img class="card-img-top rounded" style="margin-top:5px;" src="~/images/dishes/Coffee.png" alt="Card image cap">
        <div class="card-body justify-content-center">
            <h4 class="card-title justify-content-center">Dish Name</h4>
            <h5 class="card-text">Category</h5>
            <h class="card-text">Price</h>
            <p class="card-text">Available Quantity</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <div>
                    <button type="button" class="btn btn-small btn-danger" style="margin-right:10px; width:100px">Edit</button>
                </div>
                <div>
                    <button type="button" class="btn btn-small btn-danger" style="width:100px">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin:20px">
        <img class="card-img-top" src="~/images/dishes/Coffee.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin:20px">
        <img class="card-img-top" src="~/images/dishes/Coffee.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin:20px">
        <img class="card-img-top" src="~/images/dishes/Coffee.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin:20px">
        <img class="card-img-top" src="~/images/dishes/Coffee.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
        </div>
    </div>
</div>
