@using MyHotelWebsite.Web.ViewModels.Guests.Reservations;


@model ReservationAllViewModel;

<body>
    <div id="page">
        <div class="clearfix"></div>
        <partial name="_SingleReservationPartial" />
        <partial name="_PagingMyReservationsPartial" model="@Model" />
    </div>
</body>