@using MyHotelWebsite.Web.ViewModels.Guests.Reservations;


@model AllReservationViewModel;

<script>
    var msg = '@this.TempData["Message"]';
    if (msg.length) {
        alert(msg);
    }
</script>

<body>
    <div id="page">
        <div class="clearfix"></div>
        <partial name="_SingleReservationPartial" />
        <partial name="_PagingMyReservationsPartial" model="@Model" />
    </div>
</body>