@using MyHotelWebsite.Web.ViewModels.Administration.Rooms

@model AllRoomViewModel

<body>
    <h1 class="text-center">All Rooms</h1>
    <div id="page">
        <div class="clearfix"></div>
        <div class="row">
            <partial name="_SingleRoomPartial" />
            <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</body>

