@using MyHotelWebsite.Web.ViewModels.Administration.Rooms

@model RoomByFourCriteriaSearchViewModel

<!DOCTYPE html>
<html lang="en">
<body>
    <div id="page">
        <div class="clearfix"></div>
        <div class="row">
            @if (!Model.Rooms.Any())
            {
                <div class="col-12 text-center">
                    <h2>Nothing found</h2>
                    <br />
                </div>

            }
            <partial name="_SingleRoomByFourCriteriaPartial" />
            <br />
            <form method="post" asp-area="Administration" asp-controller="Rooms" asp-action="Search">
                <div class="text-center"><button type="submit" class="btn btn-danger wrn-btn" style="margin-left:10px">Search Again</button></div>
            </form>
            <partial name="_PagingRoomsByFourCriteriaPartial" model="@Model" />
        </div>
    </div>
</body>
</html>