@using MyHotelWebsite.Data.Models.Enums
@using MyHotelWebsite.Web.ViewModels.Administration.Rooms
@model EditRoomViewModel

<body>
    <form method="post" class="col-md-6 offset-md-3"
          enctype="multipart/form-data">
        <div class="text-center mb-3">
            <h1>Edit the room</h1>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" />
        <div class="text-center mb-3">
            <label asp-for="AdultPrice">Adult Price</label>
            <div>
                <input asp-for="AdultPrice" class="form-control" />
            </div>
            <span asp-validation-for="AdultPrice" class="text-danger"></span>
        </div>
        <div class="text-center mb-3">
            <label asp-for="ChildrenPrice">Children Price</label>
            <div>
                <input asp-for="ChildrenPrice" class="form-control">
            </div>
            <span asp-validation-for="ChildrenPrice" class="text-danger"></span>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-danger" />
        </div>
    </form>
</body>

