@using MyHotelWebsite.Web.ViewModels.Blogs
@model AllBlogViewModel

<body>
    <div id="page">
        <section class="image-head-wrapper-blog-all">
            <div class="inner-wrapper">
                <h1>All Blogs</h1>
            </div>
        </section>
        <div class="clearfix"></div>
        <partial name="_SingleBlogPartial" />
        <partial name="_PagingPartial" model="@Model" />
    </div>
</body>