@using MyHotelWebsite.Web.ViewModels.Blogs
@model SingleBlogViewModel

<body>
        <section class="blog-block">
            <div class="container">
                <div class="row offspace-45">
                    <div class="view-set-block">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="event-blog-image">
                            <img alt="image" class="img-responsive" src="@("https://localhost:5001/" + @Model.BlogImageUrl)">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 side-in-image">
                            <div class="event-blog-details">
                            <h4>@Model.Title</h4>
                            <p>@Model.Content</p>
                            <a class="btn btn-default btn-secondary" style="margin-left:5px" asp-controller="Blogs" asp-action="All" >Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
