
<!--Template Name: vacayhome
File Name: rooms.html
Author Name: ThemeVault
Author URI: http://www.themevault.net/
License URI: http://www.themevault.net/license/-->

<body>
    <div id="page">
        <section class="image-head-wrapper">
            <div class="inner-wrapper">
                <h1>Rooms</h1>
            </div>
        </section>
        <div class="clearfix"></div>

        <!--gallery block--->
        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Room-single.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Room-single-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <p>Single room</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Room-double.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Room-double-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <p>Double room</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Room-studio.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Room-studio-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <p>Studio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Room-apartment.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Room-apartment-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <p>Apartment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />

        <section>
            <div class="container justify-content-center">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <form method="post" asp-controller="Reservations" asp-action="Book">
                        <div class="text-center"><button type="submit" class="book-now-btn">Book now</button></div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
